*{
    font-family: 'Lato', sans-serif;
    background-color: #2D5D7C;
    color: #FEEEDA;
}

header {

}

body {
    margin: ;

}

/* form {} */

input {
    
}

button {
    background:#FEEEDA; 
    color: #2D5D7C; 
    border-style: none; 
    border-radius: 30px; 
    text-decoration: none;
}

.Homepage_form {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

#Income {
    background-color: white;
}

#Occurence {
    background-color: white;
    text-decoration-color: black;
}

#Account {
    text-decoration: none;
}















