/***************
Global Selectors 
***************/
* {
    font-family: 'Lato', sans-serif;
    background-color: #2D5D7C;
    color: #FEEEDA;
    box-sizing: border-box;
}
    
body {
    display: flex; 
    flex-direction: column; 
    align-content: center;
    align-items: center; 
    margin: 10px;
}

header {
    font-size: 2em;
    font-weight: 900;
}

select {
    cursor: pointer;
}

button {
    background:#FEEEDA; 
    color: #2D5D7C; 
    border-style: none; 
    border-radius: 50px; 
    height: 50px; 
    width: 200px;   
    font-size: 15px; 
    font-weight: bold;
    cursor: pointer;
    outline: none;
}

button:hover {
    background-color: #2D5D7C;
    color: #FEEEDA;
    border: 1px solid #FEEEDA;
}

a {
    text-decoration: none;
    background:#FEEEDA; 
    color: #2D5D7C; 
}

a:hover {
    background-color: #2D5D7C;
    color: #FEEEDA;
    border: none; 
}

select{
    cursor: pointer;
}

/***************
    Analysis 
***************/

#analysis-main {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#nav-toggle {
    color: #FEEEDA;
    background: none; 
    font-size: 30px; 
}

.emoji{
    font-size: 30px; 
    margin-bottom: 16px; 
}

.page-explanation {  
    font-size: 16px;   
}

#Homepage_form {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

#Income_form {
    margin: 35px;
}

#Dollar {
    position: absolute;
    align-items: center;
    color: #2D5D7C;
    background-color: #FEEEDA;
    text-align: center;
    border: 1px solid gray;
    border-radius: 50%;
    padding: 15px;  
    box-sizing: border-box;
    height: 54px;
    width: 55px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#Income {
    content: "$";
    background-color: white;
    color: black;
    width: 200px;
    border-radius: 30px; 
    border-color: gray;
    padding: 15px 0px;
    font-size: large;
    text-align: right;
}

#Income2 {
    background-color: white;
    color: black;
    width: 200px;
    border-radius: 30px; 
    border-color: gray;
    padding: 15px 0px;
    font-size: large;
}

#Account {
    text-decoration: none;
    padding: 10px;
    background: none;
    color: white; 

}

/***************
    Expenses 
***************/

/*** Header ***/

#exp-body {
    display: block
}

#exp-header {
    display: flex;
}

#exp-header-left{
    display: flex;
    align-items: center;
}

#exp-title {
    display: flex;
    font-size: 1em;
    padding-left: 2vw;
}

#exp-header-right{
    display: flex;
    flex: 1;
    justify-content: center;
    font-size: .5em;
    align-items: flex-end;
    flex-direction: column;
}

#exp-header-right > div {
    text-align: center;
}

#exp-header-right > div > p {
    margin: .5em 0;
}

/*** Exp Form ***/

.exp-form-child {
    display: block;
    padding: 2vh;
}

.exp-form-child > * {
    display: block;
    margin: auto;
    text-align: center;
    padding: .25em;
}

.exp-form-child > label {
    font-size: 1.25em;
}

.exp-form-child > input {
    font-size: 1em;
    border-radius: 2em;
    color: #2D5D7C;
    background-color: #FEEEDA;
    border: 1px solid #2D5D7C;
    padding: .5em;
}

.exp-form-child > input, .exp-form-child > select {
    outline: none;
}

.exp-form-child > select {
    padding: .5em;
    margin-top: .5em;
    font-size: 1em;
    /* Both for improved browser support */
    text-align: center;
    text-align-last: center;
}

#exp-form > input {
    margin: auto;
}

.exp-btn-container {
    display: flex;
    justify-content: center;
    margin-top: 1em;
}

#recurring {
    cursor: pointer;
}

.menu-icon:hover {
    cursor: pointer;
    opacity: 50%;
}

/*** Expense list ***/











