* {
    font-family: 'Lato', sans-serif;
    background-color: #2D5D7C;
    color: #FEEEDA;
    box-sizing: border-box;
}

.upper-bar {
    font-size: 40px; 
}


body {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    margin: 10px;
}

header {
    font-size: 2em;
    font-weight: bold;
}

/* form {} */

input {

}

.emoji{
    font-size: 20px; 
    margin: 10px;  
}

button {
    background:#FEEEDA; 
    color: #2D5D7C; 
    border-style: none; 
    border-radius: 50px; 
    height: 50px; 
    width: 200px;   
    font-size: 15px; 
    font-weight: bold;    
}

a {
    text-decoration: none;
    background:#FEEEDA; 
    color: #2D5D7C; 
}

p {    
    
}

#Homepage_form {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

#Income_form {
    margin: 35px;
}

#Dollar {
    position: absolute;
    align-items: center;
    color: #2D5D7C;
    background-color: #FEEEDA;
    text-align: center;
    border: 1px solid gray;
    border-radius: 50%;
    padding: 15px;  
    box-sizing: border-box;
    height: 54px;
    width: 55px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#Income {
    content: "$";
    background-color: white;
    color: black;
    width: 200px;
    border-radius: 30px; 
    border-color: gray;
    padding: 15px 0px;
    font-size: large;
    text-align: right;
}

#Income2 {
    background-color: white;
    color: black;
    width: 200px;
    border-radius: 30px; 
    border-color: gray;
    padding: 15px 0px;
    font-size: large;
}

#Account {
    text-decoration: none;
    padding: 10px;
    background-color: #2D5D7C;
    color: #FEEEDA;
}














